<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Cohort</th>
                <th>Team</th>
                <th>Project</th>
                <th>Repo</th>
                <th>Demo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{ project.cohort }}</td>
                <td>{{ project.team_name }}</td>
                <td>{{ project.project_name }}</td>
                <td>{{ project.repo }}</td>
                <td>{{ project.demo }}</td>
            </tr>
        </tbody>
    </table>

</div>